.my-client-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  padding: 40px 20px;
}

.my-client-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px; 
}

.clients-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5rem;
  justify-content: center;
  align-items: center;
  max-width: 1130px;
  width: 100%;
  justify-items: center;
  margin-top: 5rem;
}

.clients-image {
  width: 100%;
  max-width: 200px; 
  height: auto;
}
