.clients-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.clients-info-container {
  width: 25%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.clients-title {
  width: 80%;
  font-size: 30px;
  margin-bottom: 10px;
}

.clients-paragraph {
  line-height: 25px;
  color: gray;
  margin-bottom: 10px;
}

.clients-info {
  font-size: 16px;
}

.clients-address {
  color: gray;
  font-size: 14px;
}

.all-clients-image-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.clients-avatar-image {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.clients-avatar-image:hover,
.clients-avatar-image:active {
  opacity: 1;
  transform: scale(1.1);
}

.clients-avatar {
  width: 80%;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .clients-content {
    flex-direction: column;
    align-items: center;
  }

  .clients-info-container {
    width: 100%;
    margin: 2rem 0;
  }

  .clients-avatar {
    display: none;
  }

  .all-clients-image-container {
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .clients-content {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 0px;
  }

  .clients-info-container {
    order: 1;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 0px;
  }

  .clients-content > div:last-child {
    order: -1;
  }

  .clients-avatar {
    display: flex;
    max-width: 290px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .clients-title {
    font-size: 24px;
  }

  .clients-paragraph {
    font-size: 14px;
    text-align: center;
  }

  .clients-info {
    font-size: 14px;
  }

  .clients-avatar {
    max-width: 200px;
    display: none;
  }

  .clients-avatar-image {
    width: 30px;
    height: 30px;
  }
  .clients-content {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 0px;
  }

  .clients-info-container {
    order: 1;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 0px;
  }

  .clients-content > div:last-child {
    order: -1;
  }

  .clients-avatar {
    display: flex;
    max-width: 290px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .clients-info-container {
    text-align: center;
  }
}
