.popular-client-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.popular-client-header {
  font-size: 18px;
  font-weight: 900;
  color: #808080;
}

.popular-client-title {
  font-size: 30px;
  font-weight: 700;
  width: 30%;
  text-align: center;
}

.popular-clients-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
}

.popular-clients-image {
  filter: grayscale(100%);
  width: 100%;
  max-width: 10rem;
  opacity: 0.5;
  transition: filter 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

@keyframes fadeInSequence {
  0% {
    filter: grayscale(100%);
    opacity: 0.5;
  }
  20% {
    filter: grayscale(0%);
    opacity: 1;
  }
  40% {
    filter: grayscale(100%);
    opacity: 0.5;
  }
  100% {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

/* Apply variable delay to each image */
.popular-clients-image:nth-child(1) {
  animation: fadeInSequence 6s infinite 0s;
}
.popular-clients-image:nth-child(2) {
  animation: fadeInSequence 6s infinite 1s;
}
.popular-clients-image:nth-child(3) {
  animation: fadeInSequence 6s infinite 2s;
}
.popular-clients-image:nth-child(4) {
  animation: fadeInSequence 6s infinite 3s;
}
.popular-clients-image:nth-child(5) {
  animation: fadeInSequence 6s infinite 4s;
}
.popular-clients-image:nth-child(6) {
  animation: fadeInSequence 6s infinite 5s;
}

.popular-clients-image:hover {
  filter: grayscale(0%);
  opacity: 1;
  animation: none;
}
