.my-skills-container{
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skills-box-container{
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.skills-box{
    margin-bottom: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.svg-container{
    margin-bottom: 30px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #ffffff;
}
.skills-svg{
    width: 60%;

}
.skills-paragraph{
    width: 60%;
    text-align: center;
    margin-top: 10px;
}