.footer{
    display: flex;
    width: 100%;
    margin-top: 150px;
    border: 0;
    border-top: 1px solid #b4adad;
    padding: 40px 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.copy-right{
    color: #b4adad;
    font-size: 15px;
    font-weight: 400;
}
.footer-menu{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.footer-menu-like{
    text-decoration: none;
    color: #b4adad;
}
