.my-resume-svg-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.resume-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
  align-items: center;
}

.resume-svg-container {
  width: 40px;
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  box-shadow: -1px 1px 7px 0px rgba(73, 70, 70, 0.5);
}

.resume-text {
  color: #808080;
  font-size: 15px;
}


@media screen and (max-width: 410px) {
  .my-resume-svg-container {
    margin-top: 1rem;
  }

  .resume-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 398px) {
  .my-resume-svg-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .resume-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .resume-text {
    text-align: center;
    
  }

}